* {
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.box {
    width: 30%;
    height: 300px;
    padding: 20px;
    font-size: 32px;
    border: 2px solid black;
}
.box1 {
    background-color: turquoise;
}
.box2 {
    background-color: cornflowerblue;
}
.box3 {
    background-color: lightpink;
}

.desktop {
    margin-top: 20px;
    padding: 20px;
    background-color: snow;
}
.mobile {
    padding: 15px;
    background-color: lightcyan;
    margin-top: 20px;
    display: none;
}


/* Media Queries */
@media screen and (max-width: 700px) {
    body {
        background-color: tomato;
    }
}

@media screen and (max-width: 600px) {
    .container {
        flex-wrap: wrap;
    }
    .box {
        width: 100%;
    }
    .desktop {
        display: none;
    }
    .mobile {
        display: block;
    }
}

@media screen and (max-width: 400px) {
    body {
        background-color: lightcoral;
    }
}

@media screen and (min-width: 701px) {
    body {
        background-color: palegreen;
    }
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
    body {
        background-color: darkslateblue;
    }
}

@media screen and (min-width: 1201px) {
    body {
        background-color: lightslategrey;
    }
}
