* {
    box-sizing: border-box;
}

.grid {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    /*
    row-gap
    column-gap
    */
}

.grid div {
    background-color: yellow;
    font-size: 24px;
    padding: 20px;
}


.img-gallery {
    display: grid;
    /* grid-template-rows: repeat(2, 1fr); */
    grid-template-columns: repeat( auto-fit, minmax( 300px, 1fr ) );
    gap: 10px;
    margin-top: 50px;
}

.img-gallery img {
    width: 100%;
}
